.sk-loker-list {

    margin-top: 55px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;

    .card {
        width: 100%;
        padding-bottom: 8px;

        .card-body {
            height: fit-content;

            .desc-list {
                margin: 0;
                padding: 0;
                list-style: none;
                font-size: 12px;

                li {
                    margin-top: .5em;

                    .icon {
                        width: 24px;
                    }

                    p {
                        margin: 0;
                    }
                }
            }

            .btn-lamar {
                width: 130px;
                height: 50px;

                background: #F69B39;
                border: 3px solid #F69B39;
                border-radius: 15px;
            }
        }
    }

    @include media-breakpoint-down(md) {
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 10.6px;

        .card {
            .card-body {
                flex-direction: column !important;

                .lamar-detail {
                    justify-content: end;
                }
            }
        }
    }
}
